{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Potwierdzenie zamówienia</title>
    <link rel="stylesheet" href="{% static 'tickets_app/style.css' %}">
</head>
<body>
    <h1>Potwierdzenie zamówienia biletu</h1>
    <p>Event: {{ticket.event.name}}</p>
<p>Data: {{ticket.event.event_date}}</p>
<p>seat: {{ ticket.seat }} </p>
<p>Cena: {{ ticket.price }} PLN</p>
<p>Status: {{ ticket.status }}</p>

<form method="post">
    {% csrf_token %}
    <button type="submit">Potwierdź zamówienie</button>
</form>

<a href="{% url 'home' %}">Anuluj i wróć do listy biletów</a>
</body>
</html>


